<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="spacing"> Name </th>
    <td mat-cell *matCellDef="let coin" class="spacing"> {{coin.data.name}} </td>
  </ng-container>
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef class="spacing"> Symbol </th>
    <td mat-cell *matCellDef="let coin" class="spacing"> <a [routerLink]="['/', coin.data.id]">{{coin.data.symbol}}</a> </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="spacing"> Price </th>
    <td mat-cell *matCellDef="let coin" class="spacing">  {{coin.data.usd.USD.price | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="mktcap">
    <th mat-header-cell *matHeaderCellDef class="spacing"> Market Cap </th>
    <td mat-cell *matCellDef="let coin" class="spacing"> {{coin.data.usd.USD.market_cap | currency}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row highlight *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<router-outlet></router-outlet>